/* SPDX-License-Identifier: AGPL-3.0-or-later */
@import '@makersbrain/label-editor/core.css';
@import '@makersbrain/label-editor/themes/mb-ui.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  overscroll-behavior: none;
  background: var(--mb-bg);
}
